<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Опубликовать рецензию</title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    </head>
    <body class="page">
        <form class="publish-review-form" th:method="post" th:action="@{/books/{id}/reviews(id=${id})}"
              th:object="${review}">
            <div class="form__inner">
                <h1 class="form__title">Рецензии</h1>
                <div class="input form__input"
                     th:classappend="${#fields.hasErrors('header')? 'input_error' : ''}">
                    <input class="input__field input__field_contains_button-clear
                                  input__field_contains_label"
                           type="text" placeholder="Заголовок рецензии"
                           th:field="*{header}" required autofocus/>
                    <button class="input__button-clear" type="button" tabindex="-1"
                            onclick="this.previousElementSibling.value = ''"></button>
                    <label class="input__label">Заголовок рецензии</label>
                    <div class="error-label input__error-label" th:if="${#fields.hasErrors('header')}"
                         th:errors="*{header}"></div>
                </div>
                <div class="text-area form__text-area"
                     th:classappend="${#fields.hasErrors('text')? 'text-area_error' : ''}">
                    <div class="text-area__inner">
                        <div class="text-area__resize-handle">
                            <img class="text-area__resizer" src="/img/resizer.png"/>
                        </div>
                        <textarea class="text-area__field text-area__field_contains_button-clear
                                         text-area__field_contains_label"
                                  placeholder="Текст рецензии"
                                  th:field="*{text}" required></textarea>
                        <button class="text-area__button-clear" type="button" tabindex="-1"
                                onclick="this.previousElementSibling.value = ''; this.blur()"></button>
                        <div class="text-area__header">
                            <label class="text-area__label">Текст рецензии</label>
                        </div>
                    </div>
                    <div class="error-label text-area__error-label" th:if="${#fields.hasErrors('text')}"
                         th:errors="*{text}"></div>
                </div>
                <div class="input form__input"
                     th:classappend="${#fields.hasErrors('score')? 'input_error' : ''}">
                    <input class="input__field input__field_small input__field_contains_label"
                           type="number" placeholder="Оценка книги" min="1" max="5"
                           th:field="*{score}" required autofocus/>
                    <label class="input__label">Оценка книги</label>
                    <div class="error-label input__error-label" th:if="${#fields.hasErrors('score')}"
                         th:errors="*{score}"></div>
                </div>
                <div class="form__actions">
                    <input class="button form__action" type="submit" value="Опубликовать"/>
                    <a class="button button_subtle form__action" th:href="@{/books/{id}(id=${id})}">Отмена</a>
                </div>
            </div>
        </form>
    </body>
</html>