<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="${book.getName()}"></title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    </head>
    <body class="page">
        <header th:replace="fragments/header :: header">
            /* Магия шаблонизатора */
        </header>
        <div class="body">
            <section class="book">
                <div class="book__background"
                     th:style="'background-position-y: -' + ${random % 1092} + 'px'"></div>
                <div class="book__inner">
                    <div class="book-card book-card_large">
                        <img class="book-card__cover book-card__cover_large" th:src="@{{coverUrl}(coverUrl=${book.getCoverUrl()})}" onerror="this.src='/img/null-cover.png'" th:alt="${'Обложка «' + book.getName() + '»'}"/>
                        <div class="book-card__description book-card__description_large">
                            <span class="book-card__title book-card__title_large" th:text="${book.getName()}"></span>
                            <span class="book-card__author" th:text="${book.getAuthor()}"></span>
                            <p class="book-card__annotation" th:text="${book.getDescription()}"></p>
                            <div class="book-card__actions" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="button button_subtle book-card__action" th:href="@{/books/{id}/edit(id=${book.getId()})}">
                                    Править
                                </a>
                                <form th:method="delete" th:action="@{/books/{id}(id=${book.getId()})}">
                                    <input class="button button_subtle book-card__action" type="submit" value="Удалить"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>