<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="${book.getName()}"></title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    </head>
    <body class="page">
        <header th:replace="fragments/header :: header">
            /* Магия шаблонизатора */
        </header>
        <div class="body">
            <section class="book">
                <div class="book__background"
                     th:style="'background-position-y: -' + ${random % 1092} + 'px'"></div>
                <div class="book__inner">
                    <div class="book-card book-card_large">
                        <img class="book-card__cover book-card__cover_large"
                             th:src="@{{coverUrl}(coverUrl=${book.getCoverUrl()})}"
                             onerror="this.src='/img/null-cover.png'"
                             th:alt="${'Обложка «' + book.getName() + '»'}"/>
                        <div class="book-card__description book-card__description_large">
                            <span class="book-card__title book-card__title_large"
                                  th:text="${book.getName()}"></span>
                            <form class="book-card__favorite-button" th:method="post"
                                  th:action="@{/books/{id}/favorite(id=${book.getId()})}"
                                  sec:authorize="isAuthenticated()" th:if="${book.isPublished()}">
                                <input type="checkbox" value="true" id="favorite" name="favorite"
                                       onchange="this.form.submit()"
                                       th:checked="${#lists.contains(user.getFavoriteBooksIds(), book.id)}"/>
                                <label for="favorite">Избранное</label>
                                <input type="hidden" value="false" name="favorite"/>
                            </form>
                            <span class="book-card__authors">
                                <span th:each="author, iterStatus : ${book.getAuthors()}"
                                      th:text="!${iterStatus.last} ? ${author.getFullName(true)} + ', ' :
                                          ${author.getFullName(true)}"
                                      th:title="${author.getPatronymic() != null} ? ${author.getFullName()}">
                                </span>
                            </span>
                            <div class="book-card__tags" th:if="!${#lists.isEmpty(book.getTags())}">
                                <span class="book-card__tag" th:each="tag : ${book.getTags()}"
                                      th:title="${tag.getDescription() != null} ? ${tag.getDescription()}">
                                    <img class="tag-icon book-card__tag-icon" src="/img/tag.png" />
                                    <span th:text="${tag.getName()}"></span>
                                </span>
                            </div>
                            <p class="book-card__annotation" th:text="${book.getAnnotation()}"></p>
                            <div class="book-card__actions">
                                <form th:method="post" th:action="@{/books/{id}/publish(id=${book.getId()})}"
                                      sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')" th:if="${!book.isPublished()}">
                                    <input class="button book-card__action"
                                           type="submit" value="Добавить"/>
                                </form>
                                <a class="button book-card__action"
                                   th:if="${book.getBookUrl() != '' && book.isPublished()}"
                                   th:target="${#authorization.expression('isAuthenticated()') ?
                                                '_blank' : '_self'}"
                                   th:href="${#authorization.expression('isAuthenticated()') ?
                                              book.getBookUrl : '/signin'}">
                                    Читать
                                </a>
                                <a class="button button_subtle book-card__action"
                                   th:if="${!book.isPublished() &&
                                       #authorization.expr('hasAnyRole(''ROLE_MODERATOR'', ''ROLE_ADMIN'')') ||
                                       book.isPublished() && #authorization.expr('hasRole(''ROLE_ADMIN'')')}"
                                   th:href="@{/books/{id}/edit(id=${book.getId()})}">
                                    Править
                                </a>
                                <form th:method="delete" th:action="@{/books/{id}(id=${book.getId()})}"
                                      th:if="${!book.isPublished() &&
                                       #authorization.expr('hasAnyRole(''ROLE_MODERATOR'', ''ROLE_ADMIN'')') ||
                                       book.isPublished() && #authorization.expr('hasRole(''ROLE_ADMIN'')')}">
                                    <input class="button button_subtle book-card__action"
                                           type="submit" value="Удалить"/>
                                </form>
                                <form th:method="post" th:action="@{/books/{id}/status(id=${book.getId()})}"
                                      sec:authorize="isAuthenticated()" th:if="${book.isPublished()}">
                                    <select class="book-card__status-select book-card__action" name="status"
                                            onchange="this.form.submit()">
                                        <option value="0">
                                            Не выбрано
                                        </option>
                                        <option th:each="status : ${statuses}" th:value="${status.getId()}"
                                                th:text="${status.getName() == 'PLANNED' ? 'В планах' : (
                                            status.getName() == 'READING_NOW' ? 'Читаю' : (
                                            status.getName() == 'DELAYED' ? 'Отложено' : (
                                            status.getName() == 'QUIT' ? 'Брошено' : (
                                            status.getName() == 'READ' ? 'Прочитано' : ''))))}"
                                                th:selected="${user.getStatusNameByBookId(book.id) == status.getName()}">
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section reviews">
                <div class="section__inner">
                    <h2 class="title reviews__title">
                        Рецензии
                        <a class="button button_icon button_secondary item-section__add-item"
                           th:href="@{/books/{id}/reviews/new(id=${book.getId()})}"
                           sec:authorize="isAuthenticated()">
                            <img class="button__icon" src="/img/add.png"/>
                        </a>
                    </h2>
                    <span th:if="${#lists.isEmpty(book.getReviews())}">
                        Пусто, станьте первым, кто опубликует рецензию на эту книгу
                    </span>
                    <div class="reviews">
                        <div class="comment-block" th:each="review : ${book.getReviews()}">
                            <a class="link comment-block__author" th:text="${review.getReviewer().getUsername()}"
                               th:href="@{/users/{username}(username=${review.getReviewer().getUsername()})}"></a>
                            <div class="comment-block__inner">
                                <h3 class="comment-block__header" th:text="${review.getHeader()}"></h3>
                                <div class="comment-block__text" th:text="${review.getText()}"></div>
                                <div class="comment-block__score" th:text="${'Оценка: ' + review.getScore()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="response-popup" th:if="${response.getResult() != null}">
            <input class="popup-checkbox" type="checkbox" id="response-popup" checked/>
            <div class="popup form__popup"
                 th:classappend="${response.getResult().name() == 'ERROR'} ?
                                form\_\_popup_error : (${response.getResult().name() == 'SUCCESS'} ?
                                form\_\_popup_success : '')">
                <span class="popup__header" th:text="${response.getMessage()}"></span>
                <label for="response-popup">
                    <img class="icon popup__button-close" src="/img/close.png"/>
                </label>
            </div>
        </div>
    </body>
</html>