@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Страница */
.page {
    background: #FCFCFC;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #14142B;
}

/* Шапка сайта */
.header {

}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 1192px;
    margin: 0 auto;
    padding: 0 52px;
}

.header__logo {
    position: relative;
    bottom: 2px;
}

.header__user-info {
    position: relative;
}

.header-separator {
    background: url("/img/pattern.png") #F7F7FC;
    background-size: cover;
    height: 110px;
}

/* Блок пользователя */
.user {
    display: flex;
}

.user__name {
    line-height: normal;
}

/* Ссылка */
.link {
    cursor: pointer;
    text-decoration: none;
    color: initial;
    font-weight: 600;
}

/* Чекбокс для всплывающего окна */
.popup-checkbox {
    display: none;
}

.popup-checkbox:checked ~ .popup {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.popup-checkbox:checked ~ .popup-trigger .popup-trigger__icon {
    transform: rotate(-180deg);
}

/* Кнопка активации всплывающего окна */
.popup-trigger {

}

.popup-trigger__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    transition: ease-out transform 0.2s;
}

/* Всплывающее окно */
.popup {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    position: absolute;
    top: 55px;
    right: -9px;
    z-index: 1;
}

.popup__closing-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.popup__menu {
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(17, 17, 17, 0.04);
    width: 164px;
    border-radius: 8px;
}

.popup__header {
    font-weight: 600;
}

.popup__button-close {
    position: absolute;
    top: 21px;
    right: 24px;
    filter: invert(100%) sepia(48%) saturate(0%) hue-rotate(121deg) brightness(105%) contrast(98%);
    cursor: pointer;
}

.menu {
    padding: 4px 0;
}

.menu__link {
    border: inherit;
    padding: inherit;
    font-size: inherit;
    background: inherit;
    font-weight: normal;
    outline: none;
}

.menu__link:hover {
    background: #F7F7FC;
}

.menu__link:focus {
    background: #F7F7FC;
}

.menu__item {
    display: block;
    padding: 8px 20px;
    width: 100%;
    text-align: inherit;
}

.menu__separator {
    margin: 4px 20px;
    background: #D9DBE9;
    height: 1px;
}

.username {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.role {
    color: #6E7191;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Профиль пользователя */
.profile-section__inner {
    width: 1192px;
    margin: 0 auto;
    padding: 0 52px 48px;
}

.profile-action {
    margin-right: 8px;
}

.title {
    font-size: 32px;
    padding: 40px 0 32px 0;
}

.title-block {
    padding: 40px 0 32px 0;
}

.title-block__title {
    padding: 0 0 10px;
}

.status-books__status {
    margin-right: 16px;
}

/* Блок комментария */
.comment-block {
    padding: 16px 0;
}

.comment-block__inner {
    width: 512px;
    padding: 16px 24px;
    border-radius: 0 16px 16px 16px;
    background: #EFF0F6;
    margin-top: 16px;
}

.comment-block__header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.comment-block__date {
    margin-top: 8px;
}

.comment-block__score {
    color: #6E7191;
    margin-top: 8px;
}

/* Триггер всплывающего окна */
.popup-trigger {
    cursor: pointer;
    text-decoration: none;
    color: initial;
    font-weight: 600;
}

/* Тело страницы */
.body {}

/* Кнопка */
.button {
    cursor: pointer;
    color: #f7f7fc;
    padding: 10px 30px;
    min-width: 120px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background: #5F2EEA;
    border: none;
    border-radius: 40px;
    font-family: inherit;
    font-size: 14px;
    transition: all ease-out 0.2s;
}

.button:hover {
    background: #2A00A2;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.09);
}

.button:focus {
    box-shadow: 0 0 0 8px #E4DAFF;
    outline: none;
}

.button_secondary {
    color: #5F2EEA;
    background: unset;
    border: solid 2px #5F2EEA;
    padding: 8px 28px;
}

.button_secondary:hover {
    background: inherit;
    box-shadow: inherit;
    border-color: #2A00A2;
}

.button_subtle {
    color: #5F2EEA;
    background: unset;
    border: solid 2px #D9DBE9;
    padding: 8px 28px;
}

.button_subtle:hover {
    background: inherit;
    box-shadow: inherit;
    color: #2A00A2;
}

.button_subtle:focus {
    box-shadow: 0 0 0 8px #EFF0F6;
    outline: none;
}

.button_icon {
    min-width: unset;
    display: inline-block;
    padding: 0;
    border-radius: 50%;
}

/* Иконка */
.icon {
    display: block;
}

/* Поле ввода */
.input {
    position: relative;
    width: 325px;
}

.input__field {
    width: 100%;
    font-family: inherit;
    background: #EFF0F6;
    font-size: 16px;
    padding: 17px 25px 17px 24px;
    border: none;
    border-radius: 16px;
}

.input__field_small {
    width: 180px;
}

.input__field:required {
    box-shadow: none;
}

.input__field:focus {
    background: #FCFCFC;
    outline: none;
    padding: 15px 23px 15px 22px;
    border: solid 2px #5F2EEA;
}

.input__button-clear {
    cursor: text;
    border: none;
    outline: none;
    position: absolute;
    right: 22px;
    top: 21px;
    width: 16px;
    height: 16px;
    padding: 0;
    background: url("/img/close.png");
    filter: invert(68%) sepia(20%) saturate(266%) hue-rotate(196deg) brightness(93%) contrast(94%);
    opacity: 0;
    overflow: hidden;
}

.input__label {
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    color: #6E7191;
    position: absolute;
    top: 17px;
    left: 24px;
}

.input__icon {
    filter: invert(0%) sepia(51%) saturate(7109%) hue-rotate(141deg) brightness(75%) contrast(87%);
    position: absolute;
    top: 17px;
    left: 25px;
}

.input__field_contains_button-clear:focus ~ .input__button-clear {
    cursor: pointer;
    overflow: visible;
    opacity: 1;
}

.input__field_contains_icon ~ .input__label {
    left: 64px;
}

.input__field:valid ~ .input__label {
    z-index: auto;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    overflow: visible;
    transition: ease top 70ms;
    top: 4px;
}

.input__field_contains_icon {
    padding-left: 64px;
}

.input__field_contains_icon:focus {
    padding-left: 62px;
}

.input__field_contains_label:not(:focus):valid {
    padding-top: 28px;
    padding-right: 25px;
    padding-bottom: 6px;
}

.input__field_contains_label:valid {
    padding-top: 26px;
    padding-right: 23px;
    padding-bottom: 4px;
}

.input__field_contains_button-clear:not(:focus):valid {
    padding-right: 57px;
}

.input__field_contains_button-clear:valid {
    padding-right: 55px;
}

.input__field::placeholder {
    color: #A0A3BD;
}

.input_error > .input__field {
    background: #FFF3F8;
}

.input_error > .input__field:focus {
    border-color: #ED2E7E;
}

.input_error > .input__icon {
    filter: invert(24%) sepia(70%) saturate(3322%) hue-rotate(320deg) brightness(99%) contrast(87%);
}

.input_error > .input__button-clear {
    filter: invert(24%) sepia(70%) saturate(3322%) hue-rotate(320deg) brightness(99%) contrast(87%);
}

.input_error > .input__label {
    color: #C30052;
}

.form__note-label {
    margin-top: 9px;
    font-size: 14px;
    font-weight: bold;
    color: #6E7191;
}

.input_error > .input__field::placeholder {
    color: hsl(335, 100%, 78%);
}

/* Область для ввода текста */
.text-area {
    width: 442px;
}

.text-area__inner {
    position: relative;
    background: #EFF0F6;
    border-radius: 16px;
    padding: 2px 2px 2px 24px;
}

.text-area_cornered .text-area__inner {
    border-top-left-radius: 0;
}

.text-area__inner:focus-within {
    background: #FCFCFC;
    border: solid 2px #5F2EEA;
    padding: 0 0 0 22px;
}

.text-area__resize-handle {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #EFF0F6;
    bottom: 0;
    right: 0;
    pointer-events: none;
    border-radius: 0 0 16px 0;
}

.text-area__inner:focus-within > .text-area__resize-handle {
    background: #FCFCFC;
    bottom: -2px;
    right: -2px;
    border-right: 2px solid #5F2EEA;
    border-bottom: 2px solid #5F2EEA;
}

.text-area__resizer {
    filter: invert(68%) sepia(20%) saturate(266%) hue-rotate(196deg) brightness(93%) contrast(94%);
}

.text-area__field {
    resize: vertical;
    width: 100%;
    font-family: inherit;
    background: transparent;
    font-size: 16px;
    padding: 0 25px 8px 0;
    margin: 0;
    border: none;
    border-top: 20px solid transparent;
    min-height: 147px;
    max-height: 256px;
}

.text-area__field:required {
    box-shadow: none;
}

.text-area__field:focus {
    outline: none;
}

.text-area__button-clear {
    cursor: text;
    border: none;
    outline: none;
    position: absolute;
    right: 25px;
    top: 18px;
    width: 16px;
    height: 16px;
    padding: 0;
    background: url("/img/close.png");
    filter: invert(68%) sepia(20%) saturate(266%) hue-rotate(196deg) brightness(93%) contrast(94%);
    opacity: 0;
    overflow: hidden;
}

.text-area__header {
    background: transparent;
    position: absolute;
    top: 0;
}

.text-area__inner:focus-within > .text-area__header {
    top: -2px;
}

.text-area__label {
    z-index: -1;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #6E7191;
    position: absolute;
    top: 22px;
}

.text-area__field_contains_button-clear:focus ~ .text-area__button-clear {
    cursor: pointer;
    overflow: visible;
    opacity: 1;
}

.text-area__field_contains_label:valid ~ .text-area__header > .text-area__label {
    font-size: 14px;
    font-weight: 600;
    z-index: 0;
    opacity: 1;
    overflow: visible;
    transition: ease top 70ms;
    top: 16px;
}

.text-area__field_contains_label:valid {
    border-top: 36px solid transparent;
}

.text-area__field::placeholder {
    color: #A0A3BD;
}

.text-area_error > .text-area__inner {
    background: #FFF3F8;
}

.text-area_error > .text-area__inner > .text-area__resize-handle {
    background: #FFF3F8;
}

.text-area_error > .text-area__inner:focus-within {
    border-color: #ED2E7E;
}

.text-area_error > .text-area__inner:focus-within > .text-area__resize-handle {
    border-color: #ED2E7E;
}

.text-area_error > .text-area__inner > .text-area__button-clear {
    filter: invert(24%) sepia(70%) saturate(3322%) hue-rotate(320deg) brightness(99%) contrast(87%);
}

.text-area_error > .text-area__inner > .text-area__header > .text-area__label {
    color: #C30052;
}

.text-area_error > .text-area__inner > .text-area__field::placeholder {
    color: hsl(335, 100%, 78%);
}

/* Группа радио-кнопок */
.radio-group {
    margin-top: 18px;
}

.radio-group__header {
    color: #6E7191;
}

.radio-group__inner {
    display: flex;
    padding-top: 8px;
}

.radio {
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    font-weight: 600;
}

.radio__button {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background: #D9DBE9;
    border-radius: 50%;
    transition: box-shadow ease-out 0.2s;
}

.radio__radio:hover ~ .radio__button {
    background: #A0A3BD;
}

.radio__radio:checked:hover ~ .radio__button {
    background: #2A00A2;
}

.radio__radio:focus ~ .radio__button {
    box-shadow: 0 0 0 4px #eff0f6;
}

.radio__radio:checked:focus ~ .radio__button {
    box-shadow: 0 0 0 4px #e4daff;
}

.radio__button::after {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background: #F7F7FC;
}

.radio__radio {
    margin: 0;
    opacity: 0;
    overflow: hidden;
}

.radio__radio:checked ~ .radio__button {
    background: #5F2EEA;
}

.radio__radio:checked ~ .radio__button::after {
    display: block;
}

.radio-inline {
    display: inline;
}

/* Множественный выбор */
.select__inner {
    position: relative;
    background-color: #EFF0F6;
    width: 325px;
    padding: 50px 0 16px 0;
    -webkit-box-shadow:inset 0px 0px 0px 2px #EFF0F6;
    -moz-box-shadow:inset 0px 0px 0px 2px #EFF0F6;
    box-shadow:inset 0px 0px 0px 2px #EFF0F6;
    border-radius: 16px;
}

.select__inner:focus-within {
    background-color: #FCFCFC;
    -webkit-box-shadow:inset 0px 0px 0px 2px #5F2EEA;
    -moz-box-shadow:inset 0px 0px 0px 2px #5F2EEA;
    box-shadow:inset 0px 0px 0px 2px #5F2EEA;
}

.select__label {
    position: absolute;
    top: 21px;
    left: 24px;
    color: #6E7191;
    font-size: 14px;
    font-weight: 600;
}

.select__option-group {
    display: block;
    width: 325px;
    max-height: 160px;
    overflow-y: auto;
    padding: 0;
    border-style: solid;
    border-color: #EFF0F6;
    border-width: 0 2px 0 0;
    background-color: #EFF0F6;
}

.select__option-group:focus {
    outline: none;
    background-color: #FCFCFC;
    border-color: #5F2EEA;
}

.select__option {
    border-color: #EFF0F6;
    border-style: solid;
    border-width: 0 0 0 2px;
    font-size: inherit;
    padding: 9px 22px;
}

.select__option-group[multiple]:focus .select__option {
    border-color: #5F2EEA;
}

.select__option-group[multiple]:focus .select__option:checked {
    background: linear-gradient(0deg, #5F2EEA 0%, #5F2EEA 0%);
    border-color: #5F2EEA;
}

.select__option-group[multiple]:not(:focus) .select__option:checked {
    background: linear-gradient(0deg, #D9DBE9 0%, #D9DBE9 0%);
    border-color: #D9DBE9;
}

.select_error > .select__inner {
    background: #FFF3F8;
    -webkit-box-shadow:inset 0px 0px 0px 2px #FFF3F8;
    -moz-box-shadow:inset 0px 0px 0px 2px #FFF3F8;
    box-shadow:inset 0px 0px 0px 2px #FFF3F8;
}

.select_error > .select__inner:focus-within {
    -webkit-box-shadow:inset 0px 0px 0px 2px #ED2E7E;
    -moz-box-shadow:inset 0px 0px 0px 2px #ED2E7E;
    box-shadow:inset 0px 0px 0px 2px #ED2E7E;
}

.select_error > .select__inner > .select__label {
    color: #C30052;
}

.select_error > .select__inner > .select__option-group {
    background: #FFF3F8;
}

.select_error > .select__inner > .select__option-group:focus {
    border-color: #ED2E7E;
}

.select_error > .select__inner > .select__option-group > .select__option {
    border-color: #FFF3F8;
}

.select_error > .select__inner > .select__option-group[multiple]:focus .select__option {
    border-color: #ED2E7E;
}

.select_error > .select__inner > .select__option-group[multiple]:focus .select__option:checked {
    background: linear-gradient(0deg, #ED2E7E 0%, #ED2E7E 0%);
    border-color: #ED2E7E;
}

.select_error > .select__inner > .select__option-group[multiple]:not(:focus) .select__option:checked {
    background: linear-gradient(0deg, #FFD1E4 0%, #FFD1E4 0%);
    border-color: #FFD1E4;
}

/* Секция "Поиск" */
.search {
    background: url("/img/pattern.png") #F7F7FC;
    background-size: cover;
}

.search__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1192px;
    margin: 0 auto;
    padding: 55px 52px;
}

.search__title {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.search__form {
    position: relative;
    margin: auto;
}

.search__input {
    width: 538px;
}

/* Раздел с элементами */
.item-section {}

.section__inner {
    width: 1192px;
    margin: 0 auto;
    padding: 0 52px 48px;
}

.item-section__title {
    font-size: 32px;
    padding: 40px 0 32px 0;
}

.item-section__add-item {
    position: relative;
    top: 2px;
    margin-left: 8px;
}

/* Каталог элементов */
.catalog {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 236px);
    grid-column-gap: 48px;
    grid-row-gap: 48px;
}

.catalog_large-elements {
    grid-template-columns: repeat(2, 520px);
}

/* Карточка книги */
.book-card {
    border-radius: 16px;
    width: 236px;
    box-shadow: 0 8px 24px rgba(17, 17, 17, 0.06);
    height: 422px;
}

.book-card__link {}

.book-card__cover {
    width: 236px;
    height: 335px;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid rgba(95, 46, 234, 0.1);
    border-radius: 16px 16px 0 0;
}

.book-card__cover_large {
    border-radius: 16px;
}

.book-card__description {
    padding: 14px 24px;
}

.book-card__description_large {
    padding: 0;
    margin: 8px 0 0 48px;
}

.book-card__title {
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.book-card__title_large {
    font-size: 20px;
    display: inline;
}

.book-card__favorite-button {
    display: inline;
    margin-left: 8px;
}

.book-card__authors {
    color: #6E7191;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.book-card__tags {
    display: block;
    margin-top: 16px;
}

.book-card__tag {
    display: inline-flex;
    width: fit-content;
    background-color: #F7F7FC;
    padding: 7px 16px 7px 12px;
    border-radius: 39px;
    font-weight: 600;
    font-size: 13px;
    color: #6E7191;
    margin-right: 8px;
}

.tag-icon {
    display: inline;
}

.book-card__tag-icon {
    margin-right: 4px;
    filter: invert(46%) sepia(14%) saturate(738%) hue-rotate(197deg) brightness(93%) contrast(88%);
}

.book-card__annotation {
    margin-top: 24px;
    width: 512px;
}

.book-card__actions {
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    width: 600px;
}

.book-card__action {
    margin-right: 8px;
}

.book-card__status-select {
    display: inline;
}

.book-card_large {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: unset;
    height: unset;
}

/* Карточка */
.card {
    border-radius: 16px;
    width: 236px;
    padding: 18px 24px;
    box-shadow: 0 8px 24px rgba(17, 17, 17, 0.06);
}

.card_large {
    width: 520px;
}

.card__title {
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.card__description {
    display: -webkit-box;
    height: 74px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
}

.card__actions {
    margin-top: 10px;
    display: flex;
}

.card__action {
    margin-right: 16px;
    padding: 0;
    background: none;
    border: none;
    color: #5F2EEA;
    transition: color ease-out 0.2s;
}

.card__action:hover {
    color: #2A00A2;
}

.card__footer {
    display: flex;
    margin-top: 10px;
}

/* Раздел "Книга" */
.book {}

.book__background {
    height: 232px;
    background: url("/img/pattern.png") #F7F7FC;
    background-size: cover;
}

.book__inner {
    position: relative;
    bottom: 113px;
    width: 1088px;
    background: #FCFCFC;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
}

/* Формы */
.form__inner {
    width: 325px;
    margin: 0 auto;
}

.form__title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 55px 0 8px;
}

.form__input {
    margin-top: 24px;
}

.form__text-area {
    margin-top: 24px;
}

.form__select {
    margin-top: 24px;
}

.form__actions {
    margin-right: -8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.form__action {
    margin-right: 8px;
}

.form__link {
    background: unset;
    color: #5F2EEA;
    transition: color ease-out 0.2s;
    padding: 0 8px 0 8px;
}

.form__link:hover {
    color: #2A00A2;
}

.form__popup {
    position: fixed;
    padding: 16px 24px;
    width: 325px;
    background: #14142B;
    color: #FCFCFC;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 24px;
}

.form__popup_error {
    background: #ED2E7E;
}

.form__popup_success {
    background: #00BA88;
}

.add-book-form > .form__inner {
    width: 442px;
}

.error-label {
    margin-top: 9px;
    font-size: 14px;
    font-weight: bold;
    color: #C30052;
}

.response-popup {
    position: relative;
}

.date {
    color: #6E7191;
}

.topic__username {
    margin-right: 8px;
}

.topic__date {
    margin-right: 16px;
}

.add-book-form__action {
    margin-top: 16px;
}

.reviews__title {
    padding-top: 0;
}