<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Книги</title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    </head>
    <body class="page">
        <header th:replace="fragments/header :: header">
            /* Магия шаблонизатора */
        </header>
        <div class="body">
            <section class="search"
                     th:style="'background-position-y: -' + ${random % 1092} + 'px'">
                <div class="search__inner">
                    <div class="search__title">
                        Ищете что-то конкретное?
                    </div>
                    <form class="search__form" th:method="get" th:action="@{/search}" novalidate>
                        <div class="input search__input">
                            <input class="input__field input__field_contains_button-clear
                            input__field_contains_icon input__field_contains_label"
                                   type="text" name="q" placeholder="Поиск" required/>
                            <button class="input__button-clear" type="button" tabindex="-1"
                                    onclick="this.previousElementSibling.value = ''"></button>
                            <img class="icon input__icon" src="/img/search.png"/>
                            <label class="input__label">Поиск</label>
                        </div>
                    </form>
                </div>
            </section>
            <section class="item-section">
                <div class="item-section__inner">
                    <h2 class="item-section__title">
                        Книги
                        <a class="button button_icon button_secondary item-section__add-item" th:href="@{/books/new}"
                           sec:authorize="isAuthenticated()">
                            <img class="button__icon" src="/img/add.png"/>
                        </a>
                    </h2>
                    <ul class="catalog">
                        <li class="book-card" th:each="book : ${books}">
                            <a class="book-card__link"
                               th:href="@{/books/{id}(id=${book.getId()})}"
                               tabindex="-1">
                                <img class="book-card__cover"
                                     th:src="@{{coverUrl}(coverUrl=${book.getCoverUrl()})}"
                                     onerror="this.src='/img/null-cover.png'"/>
                            </a>
                            <div class="book-card__description">
                                <a class="link book-card__title"
                                   th:href="@{/books/{id}(id=${book.getId()})}"
                                   th:text="${book.getName()}">
                                </a>
                                <span class="book-card__authors">
                                    <span th:each="author, iterStatus : ${book.getAuthors()}"
                                          th:text="!${iterStatus.last} ?
                                              ${author.getFullName(true)} + ', ' :
                                              ${author.getFullName(true)}"></span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="item-section">
                <div class="item-section__inner">
                    <h2 class="item-section__title">
                        Авторы
                        <a class="button button_icon button_secondary item-section__add-item" th:href="@{/authors/new}"
                           sec:authorize="isAuthenticated()">
                            <img class="button__icon" src="/img/add.png"/>
                        </a>
                    </h2>
                    <ul class="catalog">
                        <li class="card" th:each="author : ${authors}">
                            <span class="card__title" th:text="${author.getFullName(true)}"
                                  th:title="${author.getPatronymic() != null} ? ${author.getFullName()}"></span>
                            <div class="card__actions" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="link card__action" th:href="@{/authors/{id}/edit(id=${author.getId()})}">
                                    Править
                                </a>
                                <form th:method="delete" th:action="@{/authors/{id}(id=${author.getId()})}"
                                      sec:authorize="hasRole('ROLE_ADMIN')">
                                    <input class="link card__action" type="submit"
                                           value="Удалить"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="item-section">
                <div class="item-section__inner">
                    <h2 class="item-section__title">
                        Пользователи
                    </h2>
                    <ul class="catalog">
                        <li class="card" th:each="user : ${users}">
                            <a class="link card__title" th:text="${user.getUsername()}"
                               th:href="@{/users/{username}(username=${user.getUsername()})}"></a>
                            <span class="role" th:text="${user.getRole().getName() == 'ROLE_READER' ? 'Читатель' : (
                                user.getRole().getName() == 'ROLE_MODERATOR' ? 'Модератор' : (
                                user.getRole().getName() == 'ROLE_ADMIN' ? 'Администратор' : ''))}"></span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="response-popup" th:if="${response.getResult() != null}">
            <input class="popup-checkbox" type="checkbox" id="response-popup" checked/>
            <div class="popup form__popup"
                 th:classappend="${response.getResult().name() == 'ERROR'} ?
                                form\_\_popup_error : (${response.getResult().name() == 'SUCCESS'} ?
                                form\_\_popup_success : '')">
                <span class="popup__header" th:text="${response.getMessage()}"></span>
                <label for="response-popup">
                    <img class="icon popup__button-close" src="/img/close.png"/>
                </label>
            </div>
        </div>
    </body>
</html>